<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body class="body-error">
    <div>
        <h1>TE FUISTE A CUALQUIER LADO!!!</h1>
    </div>
    <div>
        <img src="static/jpg/errormeme.jpeg" alt="meme">
    </div>
    
</body>
</html>