{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block body%}
<div class='contenedor-pagina'>
    <div class='titulo'>
        <h1>{{ data.h1 }}</h1>
    </div>
    <div class=contenedor-principal>
        <div class='grilla'>
            {% if data.listregion%}
            {% for i in data.listregion %}
            <div class='grid-box-region'><a href="/{{i}}"><p>{{ i }}</p></a></div>
            {% endfor %}
            {% else %}
            {% for i in data.files %}
            <div class='grid-box'><img src="/static/png/{{ data.titulo }}/{{ i }}" alt="Imagen-{{ i }}" onclick="zoomImage(this)"></div>
            {% endfor %}
            {% endif %}
        </div>
        {% if not data.listregion %}
        <div class='contenedor-menu'>
            <nav>
                <ul>
                    <li class='opcion'><a href="/">Inicio</a></li>
                    <li class='opcion'><a href="/{{data.region}}/cloudfront">Cloudfront</a></li>
                    <li class='opcion'><a href="/{{data.region}}/elb">Elastic Load Balancer</a></li>
                    <li class='opcion'><a href="/{{data.region}}/ixvpc">Instancias agrupadas por VPC</a></li>
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
    <div id="myModal" class="modal">
        <span class="close">&times;</span>      
        <img class="modal-content" id="imgSelect">
    </div>
    <script src="/static/js/script.js"></script>
</div>
{% endblock  %}