@font-face {
    font-family: "ReaderPro";
    src: url("../font/static/ReadexPro-Light.ttf");
}
*{
    padding: 0;
    margin:0;
}

body {
    font-family: 'ReaderPro';
    background:  white;
}

li,a {
    text-decoration: none;
    list-style-type: none; 
    color: inherit;
}

.contenedor-pagina{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-principal {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
}

.contenedor-menu {
    width: 20%;
    height: 100%;
    position: relative;
    margin-right: 2em;
}

.contenedor-menu nav {
    position: absolute;
    top: 50%;
    transform: translate(0, -100%);
    margin-left: 1em;
}

.titulo {
    font-size: x-large;
    height: 20%;
    margin-top: 2em ;
}

.grilla {
    width: 78%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 5px;
    margin: 1em;
}

.grid-box {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 1em;
    -webkit-box-shadow: 18px 14px 41px 5px rgba(0,0,0,0.82); 
    box-shadow: 18px 14px 41px 5px rgba(0,0,0,0.82);
}

.grid-box-region {
    border-radius: 1em;
    -webkit-box-shadow: 18px 14px 41px 5px rgba(0,0,0,0.82); 
    box-shadow: 18px 14px 41px 5px rgba(0,0,0,0.82);
    background-color: white;
    position: relative;
}
.grid-box-region p{ 
    font-size: small;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.grid-box-region:hover {
    background-color: #E8412E;
    color: white
}

.grid-box img {
    width: 100%;
    object-fit: contain;
    object-position: 100%,0;
    background-color: white;
    border-radius: 1em;
}
.grid-box:hover{
    transform: scale(1.2);
    transition: transform .4s;
}

.opcion{
    font-weight: bold;
    width: 98%;
    border: solid  1px;
    border-radius: 3px;
    margin: 4px;
    padding: 10px;
}
.opcion:hover {
    background-color: #3623E8;
    color: white
}

.body-error {
  background-color: #3623E8; 
  color:white;
  height: 100vh;
  font-family: 'ReaderPro';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
  
  
.modal-content{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
  
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}